<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Find a job{% endblock %}</title>
       <link rel="icon" type="image/png" href="{{ asset('build/images/favicon.ico') }}" />
    <link
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        rel="stylesheet" />
    {% block stylesheets %}
    {{
      encore_entry_link_tags("app")
    }}
    {% endblock %}

    
  </head>
  <body>
    <div class="container-fluid text-bg-primary">
        <div class="container">
            <header class="d-flex text-bg-primary flex-wrap align-items-center justify-content-between py-3 mb-4 border-bottom">
                <!-- Colonne pour l'image du logo -->
                <div class="col-md-3 text-start">
                    <a href="/"><img src="{{ asset('build/images/flamant.png') }}" alt="logo" width="60px"></a>
                </div>
                {% if app.user %}
                    <!-- Colonne pour le bouton de déconnexion -->
                    <div class="col-md-3 text-end">
                        <a href="/logout" class="btn btn-outline-light me-2">Déconnexion</a>
                    </div>
                {% endif %}
            </header>
        </div>
    </div>
    
