@use "~bootstrap/scss/bootstrap";
:root {
  --bs-primary: purple;
}
.required::after {
  content: " *";
  color: red;
}
h1 {
  color: purple;
}
.form-check {
  display: inline-block;
  margin-right: 10px;
}

/* Sortable tables */
table.sortable thead {
  background-color: #eee !important;
  color: #666666 !important;
  font-weight: bold !important;
  cursor: default !important;
}

th.sortheader {
  cursor: pointer;
  position: relative;
}
table.sortable th a {
  text-decoration: none;
  display: block;
  padding-right: 20px;
}
th.sortheader:after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 5px;
}

th.sortheader.sorted-asc:after {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid currentColor;
}

th.sortheader.sorted-desc:after {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid currentColor;
}
