@use "~bootstrap/scss/bootstrap";
:root {
  --bs-primary: purple;
}
.required::after {
  content: " *";
  color: red;
}
h1 {
  color: purple;
}
/* Sortable tables */
table.sortable thead {
  background-color: #eee;
  color: #666666;
  font-weight: bold;
  cursor: default;
}
th.sortheader {
  cursor: pointer;
  position: relative;
}

th.sortheader:after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 5px;
}

th.sortheader.sorted-asc:after {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid currentColor;
}

th.sortheader.sorted-desc:after {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid currentColor;
}
