{% extends 'base.html.twig' %}

{% block title %}New Offre{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="mb-4">Nouvelle candidature</h1>

        {{ include('offre/_form.html.twig') }}

        <a href="{{ path('app_home') }}" class="btn btn-primary">Retour</a>
    </div>
{% endblock %}
